*:focus {
  outline: none;
}

.signinContainer {
  background-color: #bce3fa;
  display:flex;
  justify-content:center;
  height:100vh;
  width:100%;
}

.form {
  background-color: #FFF;
padding: 50px;
border-radius: 5px;
height: fit-content;
box-shadow: 0 6px 6px -3px rgba(0,0,0,.2),0 10px 14px 1px rgba(0,0,0,.14),0 4px 18px 3px rgba(0,0,0,.12)!important;
margin: auto;
z-index: 2;
}

.siteHeader {
  display: flex;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 1.3rem;
  background-color: #bce3fa;
  position: absolute;
}
.logo{
  flex: 1;
}
.heading{
  margin-right: 20px;
  text-align: center;
  color: #777;
}
.title {
text-align: center;
color: #000000;
font-style: bold;
}

input {
text-align: center;
background-color: #ECF0F1;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.signinButton {
  border: 2px solid transparent;
  background:#396EB0;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin-top: 5px;
}

.signinButton:hover {
  background-color: #2980B9;
}



.errorMessage {
  margin-top: 15px;
  color: red;
  padding: 10px 15px;
  background-color: #ff000042;
}
